body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media print {
  body {
    background: white !important;
  }

  .container {
    box-shadow: none !important;
    background: white !important;
  }

  a {
    color: black !important;
    text-decoration: none !important;
  }

  .seperator {
    page-break-after: avoid;
  }

  h2, h5 {
    page-break-after: avoid;
  }

  img {
    page-break-inside: avoid;
  }
}
